include mixins
extends partial/layout

block site_title
    != page.title + " · " + config.title

block description
    - var desc = page.desc || strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150);
    meta(name="description", content=desc)

block content
    .autopagerize_page_element: .content: .post-page
        include mixins
        +make_post(page, true)
        - var prev = page.prev ? page.prev.path : false;
        - var next = page.next ? page.next.path : false;
        .pagination
            p.clearfix
                if next
                    span.next.pagbuttons
                        a(role="navigation",href=url_for(next), title=page.next.title)
                            i.fa.fa-angle-double-left
                            |&nbsp;
                            != __('prev_post')+'：' + page.next.title
                if prev
                    span &nbsp;&nbsp;
                    span.pre.pagbuttons
                        a(role="navigation",href=url_for(prev), title=page.prev.title)
                            != __('next_post')+'：' + page.prev.title
                            |&nbsp;
                            i.fa.fa-angle-double-right
        .fb-comments(data-href=url, data-width="100%", data-numposts="5", data-colorscheme="dark")
